body {
  margin-top: 0px !important;
}

.carousel-text {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 40%;
}

.main-image-box {
  height: 180px;
}

@media (max-width: 992px) {
  .show-icon {
    visibility: hidden;
  }
}
