.nav-player {
  padding-right: 0px;
  padding-left: 0px;
}

.col-player {
  height: 180px;
  box-shadow: 0px 0px 12px 3px lightgray;
}

.nav-tabs .nav-link:not(.disabled):hover,
.nav-tabs .nav-link:not(.disabled):focus,
.nav-tabs .nav-link.active {
  border: 0;
  border-bottom: 2px solid rgb(0, 26, 77);
  color: rgb(0, 26, 77);
  font-weight: 600;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link.disabled:hover,
.nav-tabs .nav-link.disabled:focus {
  border: 0px;
  border-bottom: 1px solid gray;
}
