.button-custom {
  background-color: rgb(0, 26, 77);
  border-radius: 20px;
}

.container-login {
  max-width: 600px;
}

.container-login-footer {
  color: rgb(0, 26, 77);
}

.form-control-custom {
  width: 100%;
  max-width: 400px;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
  box-shadow: none;
}

.input-height {
  height: 42px;
}

.position-right {
  right: 5px;
}
