.theme-color-background {
  background-color: rgb(0, 26, 77);
  border-color: rgb(0, 26, 77);
}

.theme-color-font {
  color: rgb(0, 26, 77);
}

.theme-color-border {
  border-color: rgb(0, 26, 77);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgb(0, 26, 77);
}
