.theme-color-background {
  background-color: rgb(0, 26, 77);
  border-color: rgb(0, 26, 77);
}

.theme-color-background:hover {
  background-color: rgb(0, 26, 77);
  border-color: rgb(0, 26, 77);
}

.theme-color-font {
  color: rgb(0, 26, 77);
}

.theme-color-border {
  border-color: rgb(0, 26, 77);
}

.outline-button {
  border: 2px solid rgb(0, 26, 77);
  background-color: transparent;
  border-radius: 0px;
  color: rgb(0, 26, 77);
  width: 92px;
  padding: 0 5px;
  font-weight: 600;
  font-size: 0.8rem;
}

.outline-button:hover {
  background-color: rgb(0, 26, 77);
  border-color: rgb(0, 26, 77);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: rgb(0, 26, 77);
}

.page-item.active > .page-link {
  background-color: rgb(0, 26, 77);
  border-color: rgb(0, 26, 77);
  z-index: 3;
  border-radius: 4px;
}
