.header {
  padding: 10px 20px 10px 20px;
  margin: 0;
  z-index: 100;
}

.bg-primary {
  background-color: rgb(0, 26, 77) !important;
  border-color: rgb(0, 26, 77) !important;
}

.header-logo {
  margin-right: 8px;
}

.header-link {
  text-decoration: none;
}

.header-main {
  background-color: transparent;
}

/* .header-main:active {
  background-color: rgb(0, 26, 77);
} */

/* .nav-item > .dropdown-toggle {
  color: black !important;
} */

/* .header-main .navbar-nav .dropdown-menu {
  background-color: rgb(0, 26, 77);
} */

.header-main .nav-item > .nav-link,
.header-main .nav-white {
  color: white !important;
}

.dropdown-menu.show {
  border: none;
}

@media (max-width: 992px) {
  .navbar-nav > .nav-item,
  .navbar-nav > .nav-link {
    text-align: center;
  }
  .header-main .navbar-nav .dropdown-menu {
    background-color: transparent;
  }
  .dropdown-menu.show {
    flex-wrap: wrap;
    display: inline-flex;
    width: 100%;
    justify-content: center;
  }
  .dropdown-item {
    display: inline-block;
    width: auto;
  }
}

@media (min-width: 992px) {
  .nav-item > .dropdown-toggle::after {
    content: none;
  }
  .header-main .navbar-nav .dropdown-menu {
    background-color: rgb(0, 26, 77);
  }
  .header-other .dropdown-menu.show {
    box-shadow: 0px 4px 2px -2px lightgray;
  }
}

.navbar-ul {
  list-style: none;
  padding: 0px;
}
