.header {
  padding: 10px 20px 10px 20px;
  margin: 0;
  z-index: 100;
}

.bg-primary {
  background-color: rgb(0, 26, 77) !important;
  border-color: rgb(0, 26, 77) !important;
}

.header-logo {
  margin-right: 8px;
}

.header-link {
  text-decoration: none;
}

.nav-item > .dropdown-toggle::after {
  content: none;
}

.nav-item > .dropdown-toggle {
  color: white !important;
}
