.table-more-line th,
.table-more-line td {
  white-space: normal;
  padding: 2px 1px;
}

td,
th {
  white-space: nowrap;
}

.theme-color-table tr th {
  background-color: rgb(0, 26, 77);
}

.result-table-head tr th {
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
